.App {
  text-align: center;
  width:340px;
  margin:0 auto;
  
 z-index: 1500;
 overflow-x: hidden;
 background-color: burlywood; 
}

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/RolexLight.woff2");
}

/* .outerbox{
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #92b3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(139, 24, 24);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}